<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name  %></h2>
  <p><%= restaurant.category  %></p>
  <p><%= restaurant.phone_number  %></p>
  <%= link_to 'allez voir', restaurant_path(restaurant), class: "btn btn-warning" %>
<% end %>

<%= link_to "Ajoutez un restaurant", new_restaurant_path, class: "btn btn-primary"%>
